@media screen and (max-width: 1200px) {
    .adress__box {
        padding-bottom: 0;
    }
    .contact__socials {
        margin-bottom: 0 !important;
    }
    .about__img-second {
        width: 100%;
        height: 100%;
    }
    .priority__block {
        width: 100% !important;
    }
    .adress__box {
        width: 40%;
        padding-right: 0;
    }
    .contact__bit {
        margin-right: 16px;
    }
    .shop__map iframe {
        width: 100%;
    }
}
@media screen and (max-width: 991px) {
    .navbar-nav {
        align-items: center;
    }
    .nav-link.me-4 {
        margin-right: 0 !important;
    }
    .lang-sec {
        justify-content: center !important;
    }
    .offer__wrapper {
        margin-top: 40px;
    }
    .offer__img {
        width: 400px;
        top: -200px;
        position: absolute;
        left: -81px;
    }
    .about__text-block {
        text-align: center;
    }
    .about__description {
        width: 100%;
    }
    .more__width {
        width: 500px;
    }
    .more__width2 {
        width: 575px !important;
    }
    .sec__about-description {
        margin: 0 auto;
        width: 88%;
        margin-top: 24px;
    }
    .priority__badge-block::after {
        top: -50%;
        left: 0;
    }
    .priority__block {
        margin-top: 72px;
    }
    .service__order {
        order: 2;
    }
    .services__wrapper {
        background: none;
    }
    .services__title-block {
        justify-content: center;
    }
    .services__title {
        font-size: 24px;
        text-align: center;
    }
    .service__center {
        text-align: center;
    }
    .services__description {
        width: 100%;
    }
    .blockchain-center {
        margin: 0 auto;
    }
    .form__spacing {
        margin-bottom: 36px;
    }
    .adress__box {
        width: 100%;
    }
    .contact__bit {
        margin-right: 30px;
    }
    .credits__block {
        text-align: center;
    }
    .triangle__svg {
        margin-right: -42px;
        margin-top: -60px;
    }
    .shop {
        background: url('../img/bg-shop-tablet.jpg') top no-repeat;
    }
    .shop__wrapper {
        padding-top: 64px;
    }
    .shop__menu li {
        justify-content: center;
    }
    .shop__coins {
        text-align: center;
    }
    .first__shop-block {
        padding-top: 0 !important;
    }
    .second__shop-block {
        margin-top: 0 !important;
    }
    .shop__map-block {
        padding-top: 72px;
    }
    .second__shop-img {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    .offer__img {
        top: -400px;
        left: 211px;
    }
    .about__image-block2 {
        width: 256px;
    }
}   
@media screen and (max-width: 650px) {
    .more__width {
        width: 425px;
    }
    .more__width2 {
        width: 450px !important;
    }
    .bit__description {
        width: 100%;   
    }
    .shop__menu li {
        justify-content: start !important;
    }
    .shop__title {
        font-size: 35px;
        width: 290px;
        text-align: center;
        line-height: 49px;
        margin: 0 auto;
    }
    .shop__description {
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .header__background {
        background: url('../img/bg-hero-mobile.jpg') center / cover no-repeat;
    }
    .navbar {
        padding-top: 35px !important;
    }
    .offer__img {
        display: none;
    }
    .offer__description {
        font-size: 36px;
    }
    .offer__wrapper {
        text-align: center;
    }
    .offer__description {
        font-size: 30px;
    }
    .bigm {
        order: 2;
        margin-top: 44px !important;
    }
    .about__text-block {
        text-align: left;
    }
    .about__title-block {
        justify-content: center;
        margin-bottom: 50px;
        position: relative;
    }
    .about__title {
        font-size: 24px;
    }
    .about__image-block2  {
        margin: 0 auto;
        margin-right: 0;
    }
    .about__image-block2.me-5 {
        margin-right: auto !important;
    }
    .about__description {
        font-size: 16px;
    }
    .more__width {
        width: 100%;
    }
    .more__width2 {
        width: 100% !important;
    }
    .sec__about-description {
        width: 100% !important;
    }
    .priority__block {
        width: 100%;
        margin: 0 auto;
        margin-top: 64px;
    }
    .priority__title-block {
        position: relative;
    }
    .priority__title {
        font-size: 24px;
        margin: 0 auto;
    }
    .services {
        background: url('../img/bg-services-mobile.jpg') top no-repeat;
    }
    .services__title-block {
        position: relative;
    }
    .services__img {
        width: 250px;
        margin: 0 auto; 
    }
    .card {
        height: 100%;
    }
    .card-body {
        align-items: flex-start !important;
    }
    .logo__banks {
        justify-content: center;
    }
    .contact {
        background: url('../img/bg-contacts-mobile.jpg') center / cover no-repeat;
    }
    .contact__wrapper {
        padding-bottom: 0;
    }
    .contact__title-block {
        margin-bottom: 24px;
        margin-top: 48px;
        position: relative;
    }
    .contact__title {
        text-align: center;
        font-size: 24px;
    }
    .triangle__svg {
        width: 54px;
        position: absolute;
        top: -10px;
        left: 42%;
    }
    .form__inputs {
        flex-wrap: wrap;
    }
    .map__box {
        flex-direction: column;
        margin-bottom: 36px;
    }   
    .map__box iframe {
        margin: 0 auto;
        width: 100%;
        order: 2;
        margin-top: 18px;
    }
    .shop {
        background: none;
    }
    .first__shop-block {
        padding: 0 !important;
    }
    .cryptomoney__shop {
        display: block;
        width: 290px;
        margin: 0 auto;
        margin-top: 36px;
        margin-bottom: 24px;
    }
    .trezor__img {
        width: 290px;
        margin: 0 auto;
    }
    .shop__description {
        font-size: 16px;
        width: 100%;
    }
    .shop__list-title {
        width: 290px;
    }
    .shop__menu {
        width: 290px;
    }
    .shop__li {
        align-content: center;
        font-size: 16px;
        width: 100%;
    }
    .shop__li:last-child {
        align-items: start;
    }
    .shop__li-img {
        width: 24px;
        margin-right: 12px;
    }
    .shop__coins {
        text-align: left;
        width: 290px;
    }
    .shop__coins-title {
        font-size: 16px;
    }
    .shop__coins-block {
        gap: 24px;
    }
    .shop__ssd-img {
        display: block;
        margin-top: 44px;
    }
    .ssd__img {
        width: 290px;
    }
    .second__shop-title {
        width: 100%;
    }
    .second__shop-description {
        width: 100%;
        font-size: 16px;
    }
    .shop__map-title {
        font-size: 24px;
    }
    .footer__nav {
        margin-right: 0;
        margin-bottom: 24px;
    }
    .foot__order {
        order: 3;
    }
    .footer__menu {
        flex-direction: column;
        text-align: center;
        padding: 0 !important;
    }
}