@media screen and (max-width: 991px) {
    .navbar-nav {
        align-items: center;
    }
    .lang-sec {
        justify-content: center;
    }
    .offer__description {
        font-size: 36px;
    }
}
@media screen and (max-width: 768px) {
    .offer__description {
        font-size: 36px;
    }
}    
@media screen and (max-width: 575px) {
    .priority__block {
        width: 100%;
        margin: 0 auto;
    }
}